doctype html
html(lang="en")
  head
    // Required meta tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="icon" href="../favicon.ico")
    title SkillTracker
    link(rel="stylesheet" href="styles/main.css")

  body
    div.container
      header(class=["p-4", "mb-4"])
        div(class=["row"])
          div(class=["col-sm-12"])
            h3.float-left: a(href="#") Skill Tracker
            nav(class=["nav", "justify-content-end"])
              a(class=["nav-link"] href="/login") Login

      main(class=["cover"] role="main")
        div(class=["row", "text-center", "align-items-center"])
          div(class=["col-sm-12", "p-4"])
            h1.cover-heading Skill Tracker
            p.lead SkillTracker is a wonderful tool that helps organize the many skills in your life in a gamified way.
            p.lead: a(class=["btn", "btn-lg", "btn-secondary"] href="/register") Sign Up

      footer(class=["mastfoot"])
        div(class=["row", "text-center", "align-items-end"])
          div(class=["col-sm-12", "p-4"])
            p Cover template for #[a(href="https://getbootstrap.com/") Boostrap ], by #[a(href="https://twitter.com/mdo") @mdo ].

    script(src="scripts/main.bundle.js")
