extends layout

block content
  main
    div#app
    div.fixed-bottom
      button(class=["btn", "btn-lg", "btn-light", "float-right", "m-4"] type="button")&attributes({'data-toggle': 'modal', 'data-target': '#somethingModal'}) +

block append scripts
  script.
    let user = !{JSON.stringify(user)};
  script(src="scripts/app.bundle.js")
