extends layout

block content
  div.container
    h1 Register
    form(action="/login" method="post")
      div.form-group
        label(for="username") Username
        input.form-control(type="text" name="username")
      div.form-group
        label(for="username") Email
        input.form-control(type="text" name="email")
      div.form-group
        label(for="password") Password
        input.form-control(type="password" name="password")
      div.form-group
        label(for="password") Password Confirm
        input.form-control(type="password" name="password_confirm")
      button.btn(class=["btn-primary"] type="submit") Submit
