doctype html
html(lang="en")
  head
    // Required meta tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="icon" href="../favicon.ico")
    title SkillTracker
    link(rel="stylesheet" href="styles/main.css")
    script(src="https://use.fontawesome.com/ab9eda8676.js")

  body
    div.container
      header(class=["p-4", "mb-4"])
        h3.float-left: a(href="/") Skill Tracker
        nav(class=["nav", "justify-content-end"])
          if isAuthenticated
            a(class=["nav-link"] href="/logout") Logout
          else
            a(class=["nav-link"] href="/login") Login
            a(class=["nav-link"] href="/register") Sign Up
      block content

    block scripts
      script(src="scripts/main.bundle.js")
