extends layout

block content
  main
    div(class=["row", "text-center", "justify-content-center"])
      div(class=["col-sm-12", "p-4"])
        h1 Login
      div(class=["col-sm-4", "p-4"])
        form(action="/login" method="post")
          div.form-group
            input.form-control(type="text" name="username" placeholder="Enter Username")
          div.form-group
            input.form-control(type="password" name="password" placeholder="Enter Password")
          button(class=["btn", "btn-lg", "btn-light"] type="submit") Submit
